<?xml version="1.0"?>
<!-- 定义机器人模型文件 -->
<robot name="campusbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- base_footprint相当于机器人的地面接触点，也就是Z=0 -->

<link name="base_footprint"/>
<!-- 固定机器人关节 -->

<link name="base_link">
    <!--可视化属性 -->
    <visual>
        <geometry>
            <box size="0.5 0.35 0.20"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <material name="blue">
            <color rgba="0 0 0.8 1"/>
        </material>
    </visual>
</link>
<joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.1"/>
</joint>

</robot>

